*{
    margin: 0 ;
    padding: 0;
}
.container{
    max-width: 1340px;
    margin: 0 auto;
    padding:0;
   width: 90%;
    border: 1px solid red;
}
a{
    text-decoration: none;
    font-family: sans-serif;
}
#header{
     padding:20px 0 ;
}
.header{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__bar{
    display: flex;
    gap: 50px;
    font-size: 14px;
    color: #12100CB2;
    font-weight: 400;
}
.header__btn{
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background: #12100C;
    color: #F9F9F9;
    font-size: 14px;
    font-weight: 400;
    border: none;
    text-align: center;
}
#section1{
    padding: 100px 0;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head h1{
    font-size: 80px;
    font-weight: 700;
    color: #12100C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head h2{
    color: #12100CB2;
    font-size: 23px;
    font-weight: 400;
    width: 402px;
    padding: 25px 0;
}
.head__img{
    width: 50%;
}
.head__btn{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 15px;
}
.head__btn button{
    height: 46px;
    background: #FFAE33;
    width: 20%;
    border-radius: 16px;
    border: none;
    color: #12100C;
    font-size: 18px;
    font-weight: 700;
}
.head__btn h3{
    color: #12100CB2;
    font-size: 16px;
    font-weight: 400;
}
.head__svg{
    display: flex;
    align-items: center;
    gap: 30px;
}
#secton2{

}
.Text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 200px 0;
}
.Text h1{
    font-size: 54px;
    color: #12100C;
    font-weight: 700;
}
.Text p{
    font-size: 54px;
    color: #999795;
    font-weight: 400;
}
#section3{
 
}
.Web{
    display: flex;
    align-items: center;
    justify-content: space-between;
       padding: 200px 0;
}
.Web h1{
    font-size: 32px;
    font-weight: 700;
    color: #12100C;
    padding-bottom: 20px;
}
.Web p{
    width: 591px;
    font-size: 24px;
    font-weight: 400;
    color: #12100CB2;
}
.Web__btn{
    display: flex;
    gap: 30px;
    padding-top: 100px;
}
.btn1{
    cursor: pointer;
    background: #FFAE33;
    border-radius: 10.5px;
    width: 25%;
    height: 35px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #12100C;
    text-align: center;
}
.btn2{
    cursor: pointer;
    background: #FFB0AE;
    border-radius: 10.5px;
    width: 25%;
    height: 35px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #12100C;
    text-align: center;
}